@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
	margin: 0;
	padding: 0;
	border: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	shape-rendering-moz-font-feature-settings: "kern=1";
	font-kerning: normal;
}


body{
	width: 100%;
	height: 100%;
	background-color: #8ec9b5;
	color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
	line-height: 1.6;
}
/* LINKS */

a {
	font-style: normal;
	text-transform: none;
	color: #fff;
	text-decoration: none;
    font-weight: 600;
}

a:hover {
	text-decoration: underline;
    color:#183441;
}

/* NAVIGATION */

nav {
	position: fixed;
	width: 100%;
	margin: 0 auto 4.5rem;
	padding-top: .5rem;
	text-align: right;
}

nav li {
	display: inline-block;
	margin: .5rem;
}

/*
.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
*/
img {
    max-height: 100vh;
    margin: 0 auto;
}
.gmm-logo {
    background: #8ec9b5;
    margin-top:120px;
    margin-bottom:60px;

}
.separator {
    display: block;
    width: 100%;
    height:1px;
    background:#8ec9b5;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn-danger {
    background-color: transparent;
    border-color:#fff;
    border-width: 2px;
    text-transform: uppercase;
}
.btn-danger:hover {
    background-color: #fff;
    border-color:#5ba280;
    color:#5ba280;
    border-width: 2px;
}
.avatar-cta {
    margin-top:30px;
}
figcaption {
    font-size: 150%;
    text-align: center;
}
.avatare {
    margin-top:30px;
}
/* TEXT */
h1 {
    /*letter-spacing: .1rem;*/
    line-height: 1.2;
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
}
h2 {
	/*letter-spacing: .1rem;*/
	line-height: 1.2;
    font-size: 4rem;
    font-weight: 600;
}
.rupee {
    /*-ms-transform: scale(0.5,0.5); /* IE 9 */
    /*-webkit-transform: scale(0.5,0.5); /* Safari */
    /*transform: scale(0.6,0.6);*/
    margin-right:20px;
    padding-left:0;
    margin-left:0;
    margin-top:-15px;
    display: inline-block;
    width:44px;
    height:45px;
}
.rupee-big {
    margin-right:5px;
    margin-left:10px;
    margin-top:-20px;
    display: inline-block;
    width:44px;
    height:45px;
}

p {
    font-weight: 300;
    font-size: 17px;
}


@media all and (min-width: 960px) {

}

@media all and (max-width: 959px) and (min-width: 600px) {

}

@media all and (max-width: 599px) and (min-width: 320px) {

}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    h1 {
        font-size: 5rem;
    }
    .rupee-big{
        width:60px;
        height:61px;
    }
    .rupee {
        width:50px;
        height:51px;
    }
    h2 {
        font-size: 5rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    h1 {
        font-size: 6rem;
    }
    .rupee-big{
        width:80px;
        height:81px;
    }
    .rupee {
        width:60px;
        height:61px;
    }
    h2 {
        font-size: 6rem;
    }
    p {
        font-size: 19px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    h1 {
        font-size: 7.5rem;
    }
    .rupee-big{
        width:100px;
        height:102px;
    }

    h2 {
        font-size: 6rem;
    }
    p {
        font-size: 20px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    h1 {
        font-size: 9rem;
    }
    .rupee-big{
        width:120px;
        height:122px;
    }
}













/* LISTS

ol {
    list-style-type: none;
    counter-reset: ol-counter;
}

ol li {
	margin: 0 0 1rem 0;
	text-align: center;
	font-size: 1.3rem;
}

ol li p{
	font-size: 1rem;
	max-width: 960px;
	margin: 20px auto;
}

ol li:after {
	content: "";
	display: block;
	text-align: center;
	margin: 2rem auto;
	width: 10px;
	height:10px;
	border: 1px solid #8FB568;
}

ol > li:before {
    content: counter(ol-counter);
    counter-increment: ol-counter;
    font-size: 160%;
    font-weight: 700;
    display: block;
    text-align: center;
}
*/