@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
	margin: 0;
	padding: 0;
	border: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	shape-rendering-moz-font-feature-settings: "kern=1";
	font-kerning: normal;
}


body{
	width: 100%;
	height: 100%;
	background-color: #8ce9b5;
	color: #000000;
	font-family: Inconsolata, sans-serif;
	font-size: 100%;
	line-height: 1.6;
}
/* LINKS */

a {
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1em;
	color: #111;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* NAVIGATION */

nav {
	background: #B8E986;
	border-bottom: 1px solid #8FB568;
	position: fixed;
	width: 100%;
	margin: 0 auto 4.5rem;
	padding-top: .1rem;
	text-align: right;
}

nav li {
	display: inline-block;
	margin:  0 .5rem;
}

nav a {
	text-decoration: none;
}



/* TEXT */

h1 {
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
	font-size: 3rem;
	line-height: 1;
	padding-top: 7rem;
}

h1 + p {
	text-align: center;
	margin: .5rem auto 2rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-size: 1.4rem;
}

/* LISTS */

ol {
    list-style-type: none;
    counter-reset: ol-counter;
}

ol li {
	margin: 0 0 1rem 0;
	text-align: center;
	font-size: 1.3rem;
}

ol li p{
	font-size: 1rem;
	max-width: 960px;
	margin: 20px auto;
}

ol li:after {
	content: "";
	display: block;
	text-align: center;
	margin: 2rem auto;
	width: 10px;
	height:10px;
	border: 1px solid #8FB568;
}

ol > li:before {
    content: counter(ol-counter);
    counter-increment: ol-counter;
    font-size: 160%;
    font-weight: 700;
    display: block;
    text-align: center;
}
