
#wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
    height: 155px; /* .push must be the same height as .footer */
    font-size: 11pt !important; /*#noshame*/
}

.entypo-export {
    background-color: rgba(255, 202, 202, 0.32) !important;
    color: rgba(244, 93, 98, 0.46) !important;

    border-radius: 0 !important;
}

.entypo-export span {
    font-family: sans-serif !important;
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

.credits {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 3rem;
    position: absolute;
    bottom: 2rem;
}

input[type="file"] {
    display: none;
}

.fileupload {
    border: 1px solid #ccc;
    padding: .7rem 12px;
    cursor: pointer;

    margin: 20%;
    margin-bottom: 5rem;
    display: block;
    text-align: center;

    box-shadow: 0px 2px 500px rgba(0,0,0,.1);
}

.finalImage {
    margin:auto;
    display: block;
}

#loading {
    margin-top: 3rem;
    text-align: center;
    display: none;
}

@media screen and (min-width: 64em) {
    #title {
        padding: 1rem;
        padding-top: 2.2rem;
        padding-bottom: 0;
        text-align: left;
    }

    #subtitle {
        padding: 1rem;
        padding-left: 7rem;
        margin-top: -1.5rem;
        text-align: left;
    }

    .fileupload {
        margin-top: 5%;
    }
}
