.entypo-export {
    background-color: rgba(255, 202, 202, 0.32) !important;
    color: rgba(244, 93, 98, 0.46) !important;
    border-radius: 0 !important;
}

.entypo-export span {
    font-family: sans-serif !important;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
.upload-cta-container {
    margin-top:8rem;
    text-align: center;
}
.credits {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 3rem;
    position: absolute;
    bottom: 2rem;
}

input[type="file"] {
    display: none;
}

.finalImage {
    margin:auto;
    display: block;
}

#loading {
    margin: 3rem;
    font-size: 20px;
    text-align: center;
    display: none;
}
