

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Florian Krapp, Jonas Riegel, Tanja Schantl" />
	<title>{{ page.title }}</title>


	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Inserting own css after bootstrap to overwrite btstrp-rules -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://gamemakersmanifesto.github.io/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="http://gamemakersmanifesto.github.io/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://gamemakersmanifesto.github.io/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://gamemakersmanifesto.github.io/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://gamemakersmanifesto.github.io/img/icons/favicon-16x16.png">
    <link rel="manifest" href="http://gamemakersmanifesto.github.io/img/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="http://gamemakersmanifesto.github.io/img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url"                content="http://gamemakersmanifesto.github.io/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Game Makers Manifesto" />
    <meta property="og:description"        content="The reason for the manifesto were the developments within the gaming scene in recent months. Disputes like #gamergate, discussions about diversity in video games and the continuous spread of games and its responsibility towards society, culture and the gamemakers themselves have inspired us to formulate the manifesto and make it available to the public. We hope for an open discussion and feedback." />
    <meta property="og:image"              content="http://gamemakersmanifesto.github.io/img/gmm-fb-post.png" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64972200-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<nav>
	<ul>
		<li><a href="/" class="btn btn-danger btn-sm">German</a></li>
		<li><a href="/english/" class="btn btn-danger btn-sm">English</a></li>
	</ul>
</nav>

{{ content }}

<footer>
	<a href="impressum.html">Impressum</a>
</footer>

</body>
</html>
