

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Florian Krapp, Jonas Riegel, Tanja Schantl" />
	<title>{{ page.title }}</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Inserting own css after bootstrap to overwrite btstrp-rules -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
<nav>
	<ul>
		<li><a href="/" {% if page.url contains "/" %}class="active"{% endif %} title="">Deutsch</a></li>
		<li><a href="/english/" {% if page.url contains "/english/" %}class="active"{% endif %} title="">English</a></li>
	</ul>
</nav>

{{ content }}

<footer>
	<a href="mailto:gamemakermainfest@gmail.com?subject=feedback" "email me">Send Email</a>
	<a href="impressum.html">Impressum</a>
</footer>
</body>
</html>
