---
layout: default
---
<div class="main content" lang="de">
	<section>
		<h1>Game Makers Manifesto</h1>
		<p>Die Verantwortung der Spielemacher der Zukunft</p>
	</section>
	
	<section>
		<h2>Als Spielemacher bin ich Teil der medialen Aufklärung.</h2>
		<p>Die Grundlage für diese Aussage ist die Einordnung von Spielen in den medialen Kosmos. Spiele sind Teil der Medien, die ein Teil der Öffentlichkeit darstellen. Es soll dadurch ein Bewusstsein der eigenen Öffentlichkeitswirkung gestärkt werden. Zudem trägt jeder Spielemacher durch sein Schaffen zur Öffentlichkeit bei und hat dadurch eine Verantwortung, die sich in der medialen Aufklärung begründet, inne.</p>
	</section>
	<section>
		<h2>Als Spielemacher nehme ich aktiv an dem Diskurs und der Auseinandersetzung mit Spielen teil.</h2>
		<p>Die Reflexion des eigenen kreativen Schaffens, des erstellten Produkts oder Werks dient dazu, sich und sein Werk im Spielebereich einzuordnen und sich Kritik auszusetzen und Kritik üben zu können. Dabei sind drei Punkte essentiell: Teilhabe, Experiment und Freiheit. Unter Teilhabe verstehen wir, dass jeder Spiele machen und spielen und am öffentlichen Diskurs teilnehmen darf. Das schließt Diskriminierung, Sexismus und Rassismus in jeder Form aus. Spiele  können als Raum zur Erkundung von persönlichen und ethischen Grenzen dienen und sind somit perfekt geeignet für Experimente. Diese Art von Experiment ist aber durch den Freiheits-Gedanken geprägt, denn einerseits muss man jegliche Freiheit haben, sich in Spielen auszuleben, anderseits Freiheitsrechte von anderen wertschätzen und nicht überschreiten.</p>
	</section>
	<section>
		<h2>Als Spielemacher fördere und verteidige ich eine offene Spielkultur.</h2>
		<p>Neben dem eigentlich Produkt “Spiel” ist die Kultur darum extrem wichtig, denn hier treffen Spielemacher und Spieler, sowie die Öffentlichkeit aufeinander. Dementsprechend muss hier miteinander kommuniziert und gehandelt werden. Als Grundlage für eine akzeptable soziale Interaktion gelten ethische, moralische sowie menschliche Werte. Bei Ausschreitungen sollte man durch moderierende Eingriffe die Community sowie Diskurse steuern. Die laute Stimme von Wenigen darf nicht die Menge zum Schweigen bringen.</p>
	</section>
    <section>
        <h2>Als Spielemacher versuche ich sozial zu agieren, um so Identifikation zu schaffen.</h2>
        <p>Im englischen beschreibt der Begriff “identity” zwei Bereiche, einmal Attribute, die den Charakter und die Person selbst beschreiben, wie physische Merkmale. Der andere Teil der Identität ist das soziale Umfeld, Dinge die man mag und das eigene Wesen (Ich) formen. Auf letzteres sollten Spielemacher positiv einwirken und durch ihr eigenes Auftreten und Handeln selbst zur Identifikationsfigur werden.</p>
    </section>
</div>
