---
layout: default
---
<div class="container">
    <div class="main content" lang="de">

        <div class="row">
            <section>
                <div class="col-md-12">
                <div class="vertical-center gmm-logo">
                    <img src="img/Logo.png" class="img-responsive">
                    <!--<h1>Game Makers Manifesto</h1>-->

                </div>
                </div>
                <div class="col-md-4">
                    <p>Das Gamemakers Manifest entstand im Rahmen des Fachs Medienethik im Sommersemester 2015 an der Hochschule Augsburg. Hauptthema der Veranstaltung war die Digitalisierung der Gesellschaft. Innerhalb dieses Kontext haben wir uns mit der Verknüpfung zwischen Spiel, Digitalisierung und Gesellschaft auseinandergesetzt. Als Game Design Studenten war es uns wichtig die Rolle der Spiele und der Spielemacher in der Öffentlichkeit anhand eines Papers aufzuzeigen und haben daraus ein Manifest abgeleitet.</p>
                </div>
                <div class="col-md-4">
                    <p>Der Grund für das Manifest waren die Entwicklungen innerhalb der Gaming-Szene der letzten Monate. Auseinandersetzungen wie #gamergate, Fragen nach Diversität in Videospielen und die kontinuierliche Verbreitung von Spielen und die damit einhergehende Verantwortung gegenüber der Gesellschaft, Kultur und den Spielemachern selbst haben uns angespornt für uns wichtige Punkte zu formulieren und diese der Öffentlichkeit zur Verfügung zu stellen. Wir hoffen auf eine offene Diskussion.</p>
                </div>
                <div class="col-md-4">
                    <p>Die Arbeit von Andreas Zecher mit weheart.github.io hat uns inspiriert und wir hoffen mit unseren Punkten noch etwas zu den vier wichtigen Grundsätzen von Andreas hinzufügen zu können.</p>
<div class="col-md-4"><img src="img/avatare/Avatar_Flo.png" class="img-responsive img-circle"></div>
<div class="col-md-4"><img src="img/avatare/Avatar_Tanja.png" class="img-responsive img-circle"></div>
<div class="col-md-4"><img src="img/avatare/Avatar_Jonas.png" class="img-responsive img-circle"></div>
                        <a href="/gmmgenerator/index.html" class="btn btn-danger btn-lg">Erstelle deinen eigenen <br> Rupee-Avatar!</a>
                </div>

            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-7">
                        <h2><img src="img/rupee.png" class="rupee">Als Spielemacher bin ich Teil der medialen Aufklärung.</h2>
                        <p>Die Grundlage für diese Aussage ist die Einordnung von Spielen in den medialen Kosmos. Spiele sind Teil der Medien, die ein Teil der Öffentlichkeit darstellen. Es soll dadurch ein Bewusstsein der eigenen Öffentlichkeitswirkung gestärkt werden. Zudem trägt jeder Spielemacher durch sein Schaffen zur Öffentlichkeit bei und hat dadurch eine Verantwortung, die sich in der medialen Aufklärung begründet, inne.</p>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-5">
                        <img src="img/poster_web/GameMakersManifesto_poster_boobs.png" class="img-responsive"  alt="Game Makers Manifesto Poster Boobs">
                        <!--
                        <div class="vertical-center">
                            <img src="img/boobs.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/gamepad.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/gamepad_text.png" class="img-responsive">
                            <img src="img/flipper.png" class="img-responsive">
                        </div>
                        -->
                    </div>
                    <div class="col-md-7">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn nehme ich aktiv an dem Diskurs und der Auseinandersetzung mit Spielen teil.</h2>
                        <p>Die Reflexion des eigenen kreativen Schaffens, des erstellten Produkts oder Werks dient dazu, sich und sein Werk im Spielebereich einzuordnen und sich Kritik auszusetzen und Kritik üben zu können. Dabei sind drei Punkte essentiell: Teilhabe, Experiment und Freiheit. Unter Teilhabe verstehen wir, dass jeder Spiele machen und spielen und am öffentlichen Diskurs teilnehmen darf. Das schließt Diskriminierung, Sexismus und Rassismus in jeder Form aus. Spiele können als Raum zur Erkundung von persönlichen und ethischen Grenzen dienen und sind somit perfekt geeignet für Experimente. Diese Art von Experiment ist aber durch den Freiheits-Gedanken geprägt, denn einerseits muss man jegliche Freiheit haben, sich in Spielen auszuleben, anderseits Freiheitsrechte von anderen wertschätzen und nicht überschreiten.</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-7">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn fördere und verteidige ich eine offene Spielkultur.</h2>
                        <p>Neben dem eigentlich Produkt “Spiel” ist die Kultur darum extrem wichtig, denn hier treffen Spielemacher und Spieler, sowie die Öffentlichkeit aufeinander. Dementsprechend muss hier miteinander kommuniziert und gehandelt werden. Als Grundlage für eine akzeptable soziale Interaktion gelten ethische, moralische sowie menschliche Werte. Bei Ausschreitungen sollte man durch moderierende Eingriffe die Community sowie Diskurse steuern. Die laute Stimme von Wenigen darf nicht die Menge zum Schweigen bringen.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="img/poster_web/GameMakersManifesto_poster_sarkeesian.png" class="img-responsive"  alt="Game Makers Manifesto Poster Sarkeesian">
                        <!--
                        <div class="vertical-center">
                            <img src="img/face.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/gun.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/ethics_text.png" class="img-responsive">
                            <img src="img/blood_splatter.png" class="img-responsive" style="max-height: 50vh;">
                        </div>-->
                    </div>
                </div>
            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-5">
                        <img src="img/poster_web/GameMakersManifesto_poster_gamer.png" class="img-responsive" alt="Game Makers Manifesto Poster Gamer">
                        <!--
                        <div class="vertical-center">
                            <img src="img/whocares_text.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/gamer.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/notme_text.png" class="img-responsive">
                        </div>
                        -->
                    </div>
                    <div class="col-md-7">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn versuche ich sozial zu agieren, um so Identifikation zu schaffen.</h2>
                        <p>Im englischen beschreibt der Begriff “identity” zwei Bereiche, einmal Attribute, die den Charakter und die Person selbst beschreiben, wie physische Merkmale. Der andere Teil der Identität ist das soziale Umfeld, Dinge die man mag und das eigene Wesen (Ich) formen. Auf letzteres sollten Spielemacher positiv einwirken und durch ihr eigenes Auftreten und Handeln selbst zur Identifikationsfigur werden.</p>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>