---
layout: default
---
<div class="container">
    <div class="main content" lang="de">

        <div class="row">
            <section>

                <div class="col-md-12">
                <div class="vertical-center gmm-logo">
                    <!--<img src="img/Logo.png" class="img-responsive">-->
                    <h1><a href="http://gamemakersmanifesto.github.io/">Game Makers <img src="img/rupee.png" class="rupee-big"> Manifesto</a></h1>
                </div>
                </div>

                <div class="col-md-4">
                    <p><strong>Was?</strong> Das Game Makers Manifesto entstand im Rahmen des Fachs Medienethik im Sommersemester 2015 an der Hochschule Augsburg. Hauptthema der Veranstaltung war die Digitalisierung der Gesellschaft. Innerhalb dieses Kontext haben wir uns mit der Verknüpfung zwischen Spiel, Digitalisierung und Gesellschaft auseinandergesetzt. Als Game Design Studenten war es uns wichtig die Rolle der Spiele und der Spielemacher in der Öffentlichkeit anhand eines <a href="https://docs.google.com/document/d/10UpOciPjE3DACZq3RkuT20sWl2oGPsHf1wIxm9jYc2g/edit?usp=sharing">Papers</a> aufzuzeigen und haben daraus ein Manifest abgeleitet.</p>
                </div>

                <div class="col-md-4">
                    <p><strong>Warum?</strong> Der Grund für das Manifest waren die Entwicklungen innerhalb der Gaming-Szene der letzten Monate. Auseinandersetzungen wie <a href="https://twitter.com/search?q=%23GamerGate">#GamerGate</a>, Fragen nach Diversität in Videospielen und die kontinuierliche Verbreitung von Spielen und die damit einhergehende Verantwortung gegenüber der Gesellschaft, Kultur und den Spielemachern selbst haben uns angespornt für uns wichtige Punkte zu formulieren und diese der Öffentlichkeit zur Verfügung zu stellen. Wir hoffen auf eine offene Diskussion unter <a href="https://twitter.com/search?q=%23GameMakersManifesto">#GameMakersManifesto</a> <a href="https://twitter.com/search?q=%23GMM">#GMM.</a></p>
                </div>

                <div class="col-md-4">
                    <p><strong>Wer?</strong> Die Arbeit von Andreas Zecher mit <a href="https://weheart.github.io/">weheart.github.io</a> hat uns inspiriert und wir hoffen mit unseren Punkten noch etwas zu den vier wichtigen Grundsätzen von <a href="https://twitter.com/andreaszecher">Andreas</a> hinzufügen zu können.</p>
                    <div class="avatare">
                    <div class="col-xs-4">
                        <figure>
                            <a href="https://twitter.com/tantanarts"><img src="img/avatare/Avatar_Flo.png" class="img-responsive"></a>
                            <figcaption><a href="https://twitter.com/oh_krapp">Florian Krapp</a></figcaption>
                        </figure>
                    </div>

                    <div class="col-xs-4">
                        <figure>
                            <a href="https://twitter.com/tantanarts"><img src="img/avatare/Avatar_Tanja.png" class="img-responsive"></a>
                            <figcaption><a href="https://twitter.com/tantanarts">Tanja Schantl</a></figcaption>
                        </figure>
                    </div>

                    <div class="col-xs-4">
                        <figure>
                            <a href="https://twitter.com/tantanarts"><img src="img/avatare/Avatar_Jonas.png" class="img-responsive"></a>
                            <figcaption><a href="https://twitter.com/riegeljonez">Jonas Riegel</a></figcaption>
                        </figure>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <a href="/gmmgenerator/index.html" class="btn btn-danger btn-lg avatar-cta btn-block">Hol dir deinen eigenen <br> Rupee-Avatar!</a>
                </div>


            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-7">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn bin ich Teil der medialen Aufklärung.</h2>
                        <p>Die Grundlage für diese Aussage ist die Einordnung von Spielen in den medialen Kosmos. Spiele sind Teil der Medien, die ein Teil der Öffentlichkeit darstellen. Es soll dadurch ein Bewusstsein der eigenen Öffentlichkeitswirkung gestärkt werden. Zudem trägt jeder Spielemacher durch sein Schaffen zur Öffentlichkeit bei und hat dadurch eine Verantwortung, die sich in der medialen Aufklärung begründet, inne.</p>
                    </div>
                    <div class="col-md-5">
                        <blockquote class="twitter-tweet" lang="de"><p lang="en" dir="ltr">Someone should do a research project on my Twitter mentions. They&#39;re a perpetual train wreck of mansplaining, misogyny, and harassment.</p>&mdash; Feminist Frequency (@femfreq) <a href="https://twitter.com/femfreq/status/618233357697093632">7. Juli 2015</a></blockquote>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                        <p><a href="http://www.nerdcore.de/2015/07/08/updates-anmerkungen-und-kritiken-zu-there-will-be-blood/">"There will be blood" Artikel auf Nerdcore</a></p>
                    </div>
                </div>
            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-7 visible-xs-block visible-sm-block">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn nehme ich aktiv an dem Diskurs und der Auseinandersetzung mit Spielen teil.</h2>
                        <p>Die Reflexion des eigenen kreativen Schaffens, des erstellten Produkts oder Werks dient dazu, sich und sein Werk im Spielebereich einzuordnen und sich Kritik auszusetzen und Kritik üben zu können. Dabei sind drei Punkte essentiell: Teilhabe, Experiment und Freiheit. Unter Teilhabe verstehen wir, dass jeder Spiele machen und spielen und am öffentlichen Diskurs teilnehmen darf. Das schließt Diskriminierung, Sexismus und Rassismus in jeder Form aus. Spiele können als Raum zur Erkundung von persönlichen und ethischen Grenzen dienen und sind somit perfekt geeignet für Experimente. Diese Art von Experiment ist aber durch den Freiheits-Gedanken geprägt, denn einerseits muss man jegliche Freiheit haben, sich in Spielen auszuleben, anderseits Freiheitsrechte von anderen wertschätzen und nicht überschreiten.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="img/poster_web/GameMakersManifesto_poster_boobs.png" class="img-responsive"  alt="Game Makers Manifesto Poster Boobs">
                        <!--
                        <div class="vertical-center">
                            <img src="img/boobs.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/gamepad.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/gamepad_text.png" class="img-responsive">
                            <img src="img/flipper.png" class="img-responsive">
                        </div>
                        -->
                    </div>
                    <div class="col-md-7 hidden-xs hidden-sm">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn nehme ich aktiv an dem Diskurs und der Auseinandersetzung mit Spielen teil.</h2>
                        <p>Die Reflexion des eigenen kreativen Schaffens, des erstellten Produkts oder Werks dient dazu, sich und sein Werk im Spielebereich einzuordnen und sich Kritik auszusetzen und Kritik üben zu können. Dabei sind drei Punkte essentiell: Teilhabe, Experiment und Freiheit. Unter Teilhabe verstehen wir, dass jeder Spiele machen und spielen und am öffentlichen Diskurs teilnehmen darf. Das schließt Diskriminierung, Sexismus und Rassismus in jeder Form aus. Spiele können als Raum zur Erkundung von persönlichen und ethischen Grenzen dienen und sind somit perfekt geeignet für Experimente. Diese Art von Experiment ist aber durch den Freiheits-Gedanken geprägt, denn einerseits muss man jegliche Freiheit haben, sich in Spielen auszuleben, anderseits Freiheitsrechte von anderen wertschätzen und nicht überschreiten.</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-7">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn fördere und verteidige ich eine offene Spielkultur.</h2>
                        <p>Neben dem eigentlich Produkt “Spiel” ist die Kultur darum extrem wichtig, denn hier treffen Spielemacher und Spieler, sowie die Öffentlichkeit aufeinander. Dementsprechend muss hier miteinander kommuniziert und gehandelt werden. Als Grundlage für eine akzeptable soziale Interaktion gelten ethische, moralische sowie menschliche Werte. Bei Ausschreitungen sollte man durch moderierende Eingriffe die Community sowie Diskurse steuern. Die laute Stimme von Wenigen darf nicht die Menge zum Schweigen bringen.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="img/poster_web/GameMakersManifesto_poster_sarkeesian.png" class="img-responsive"  alt="Game Makers Manifesto Poster Sarkeesian">
                        <!--
                        <div class="vertical-center">
                            <img src="img/face.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/gun.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/ethics_text.png" class="img-responsive">
                            <img src="img/blood_splatter.png" class="img-responsive" style="max-height: 50vh;">
                        </div>-->
                    </div>
                </div>
            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-7 visible-xs-block visible-sm-block"">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn versuche ich sozial zu agieren, um so Identifikation zu schaffen.</h2>
                        <p>Im englischen beschreibt der Begriff “identity” zwei Bereiche, einmal Attribute, die den Charakter und die Person selbst beschreiben, wie physische Merkmale. Der andere Teil der Identität ist das soziale Umfeld, Dinge die man mag und das eigene Wesen (Ich) formen. Auf letzteres sollten Spielemacher positiv einwirken und durch ihr eigenes Auftreten und Handeln selbst zur Identifikationsfigur werden.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="img/poster_web/GameMakersManifesto_poster_gamer.png" class="img-responsive" alt="Game Makers Manifesto Poster Gamer">
                        <!--
                        <div class="vertical-center">
                            <img src="img/whocares_text.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/gamer.png" class="img-responsive">
                        </div>
                        <div class="vertical-center">
                            <img src="img/notme_text.png" class="img-responsive">
                        </div>
                        -->
                    </div>
                    <div class="col-md-7 hidden-xs hidden-sm">
                        <h2><img src="img/rupee.png" class="rupee">Als SpielemacherIn versuche ich sozial zu agieren, um so Identifikation zu schaffen.</h2>
                        <p>Im englischen beschreibt der Begriff “identity” zwei Bereiche, einmal Attribute, die den Charakter und die Person selbst beschreiben, wie physische Merkmale. Der andere Teil der Identität ist das soziale Umfeld, Dinge die man mag und das eigene Wesen (Ich) formen. Auf letzteres sollten Spielemacher positiv einwirken und durch ihr eigenes Auftreten und Handeln selbst zur Identifikationsfigur werden.</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="separator"></div>

        <div class="row">
            <section>
                <div class="vertical-center">
                    <div class="col-md-6">
                        <h2><img src="img/rupee.png" class="rupee">Diskutiert mit!</h2>
                            <h3><br>Zeigt eure Unterstützung und macht euch euren eigenen Rupee-Avatar!</h3>
                                <p>Der GMM-Rupee dient allen, die auf dieses Manifest aufmerksam machen möchten. Am besten mit Link zum Manifest: <a href="http://gamemakersmanifesto.github.io/">http://gamemakersmanifesto.github.io/</a>!  Außerdem kann er auch als offizielles Siegel für Spiele gelten, die dem offenen Dialog Beitrag leisten und dieses Projekt supporten.</p>
                        <div class="col-md-6"><a href="/gmmgenerator/index.html" class="btn btn-danger btn-lg avatar-cta btn-block">Avatar <br>erstellen</a></div>
                        <div class="col-md-6"><a href="/GameMakersManifesto_presskit.zip" class="btn btn-danger btn-lg avatar-cta btn-block">Presskit <br>downloaden</a></div>
                    </div>
                    <div class="separator visible-sm-block  visible-xs-block"></div>
                    <div class="col-md-6">
                        <a class="twitter-timeline"  href="https://twitter.com/gmmanifesto" data-widget-id="618920699743326209" data-chrome="transpartent">Tweets von @gmmanifesto </a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </section>
        </div>

        <div class="separator"></div>

    </div>
</div>